body {
	background-color: white;
	padding-top: 50px;
}

p {
	padding: 50px;
}

.album_cover {
	width: 25%;
}

.photo_list {
	width: 25%;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}